---
import type { CollectionEntry } from 'astro:content';
import Card from './Card.astro';
import Date from './Date.astro';
import Tag from './Tag.astro';

type BlogPost = CollectionEntry<'blog'>['data'];

interface Props {
	id: string
	post: BlogPost
}

const { id, post } = Astro.props;
---

<a class="post" href={`/posts/${id}`}>
	<Card>
		<header class="post-head">
			<h2 class="title">{post.title}</h2>
			<span class="date">
				<Date date={post.pubDate} />
			</span>
		</header>
		<span class="description">
			{post.description}
		</span>
		<div class="tags">
			{post.tags.map((tag) => (
				<Tag tag={tag} />
			))}
		</div>
	</Card>
</a>

<style>
	.post {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
	}

	.post:hover {
		box-shadow: 0 0 0.2rem var(--accent);
		transform: scale(1.01);
	}

	.post-head {
		display: flex;
		justify-content: space-between;
	}

	.title {
		font-size: 0.9rem;
		font-weight: 600;
		margin: 0;
	}

	.description {
		font-size: 0.8rem;
		color: var(--text-light)
	}

	.date {
		font-weight: bold;
		font-size: 0.6rem;
		color: var(--text-light);
	}
</style>
